#logout
{
    float:right;
	font-family:Arial;
}


#rehab_title
{
	height:100px;
	width:700px;
	margin-top:40px;
	margin-left:10px;
	font-size:40px;
	color:#29527A;
	font-family:"Times New Roman";
	font:center;
}

#title
{
	color: #29527A; 
	font-size:30px;
}

#start_button
{
	margin-left:23px;
}

.start_button_special_font
{
	color:green;
	font-size:22px;
	font-weight:bold;
}

#stop_button
{
	margin-left:10px;
}

.stop_button_special_font
{
	color:red;
	font-size:22px;
	font-weight:bold;
	opacity:0.9;
}


#article_title_text_before_options
{
	font-size:18px;
/*	border: 1px solid purple;*/
}

#article_author_pos
{
/*	border: 1px solid gray;*/
	margin-left:50px;
	font-size:18px;
}

#article_author
{
/*	border: 1px solid red;*/
	color:blue;
	font-size:18px;
	margin-left:10px;
}

.logout_button_pos
{
	border: 1px solid red;
}

.span12_box
{
	margin-right:25px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	border: 1px dashed #666699;
	background-color:#F0F0F5;
	border-radius: 15px;
}

.article_justify_text
{
	text-align: justify;
	line-height:1.5;
	font-size: 17px;
}





/***
****** steps css************
***/
.steps_outter_box
{
	padding:7px;
	border:2px solid #29527A;
	border-radius: 15px;
}

.steps_title
{
	color:#29527A;
}

.steps_instruction
{
	font-size:28px;
	color:#29527A;
	font-weight:bold;
	font-family:Arial;
}

.instruction_list_font
{
	font-size:19px;
}

li
{
	line-height:1.4;
}

.allow_button_for_Chrome
{
	color:#335C85;
	font-size:22px;
	font-weight:bold;
}

/*************************/

.upload_help_text
{
	margin-left:15px;
}

#upload_button
{
	margin-left:15px;
}

.upload_button_special_font
{
	color:blue;
	font-size:22px;
	font-weight:bold;
}


/**** stpe3 ****/

.analyze_button
{
	margin-left:15px;
}

/****************/












